.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  height:100dvh;
}

form{
  margin:10px 0px;
}

form > *{
  padding:10px;
  border:1px solid #000;
  border-radius:10px;
  margin:5px;
  display:inline-block;
}

@media (max-width: 600px) {

.App > form{
  flex: 0 1 auto;
}

.App > .chevron-chart{
  flex: 1 1 auto;
}
}